/* Delete button */
.delete {
    padding-top: 2%;
    padding-right: 3%;
}

/* Input area borders when selected & spacing */
.form-control:focus {
    box-shadow: 0 0 3px 2px rgb(180, 180, 180);
    border-color: gray;
}

label {
    padding-bottom: 2%;
}

/* Save button in footer */
.addbtn{
    background-color: #00838F;
    border-color: #00838F;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    padding-right: 5%;
    height: 2.0em;
    padding: none !important;
    font-size: 1.15em;
    letter-spacing: 0.2px;
    font-weight: 500;
}

.addbtn:focus, .addbtn:active {
    box-shadow: none !important;
}

