<!-- uses styling, navbar, and footer from base.html -->
{% extends "base.html" %}

<!-- title & header: site visit date and/or project number -->
{% block title %}
    {{visit_date.strftime("%b %#d, %Y")}} | Edit Visit
{% endblock %}

{% block header %}
<div style="text-align: center;">
    <a class="header-link" href="{{ url_for('views.view_projects',  client = client, sortby = 'asc' ) }}">
        <h2 style="margin-bottom: 0em;">
            <!-- display without client prefixes and only 18 characters max -->
            {% for prefix in prefixes %}
                {% if prefix in client %}
                    {% set name = client.replace(prefix, "") %}
                    {% if name|length < 18 %}
                        {{ name }}
                    {% else %}
                        {{ name[:18] + '...' }}
                    {% endif %}
                {% break %}
                {% endif %}
            {% endfor %}
            {% if "Town of " not in client and "City of " not in client and "County of " not in client and "Village of " not in client %}
                {% if client|length < 18 %}
                    {{ client }}
                {% else %}
                    {{ client[:18] + '...' }}
                {% endif %}
            {% endif %}
        </h2>
    </a>
    <h6 style="margin-bottom: -0.2em; margin-top: 0.2em;">
        <a class="header-link" href="{{ url_for('views.view_all_site_visits', projID = projID ) }}">
            {{proj_number}} |
        </a>
        <a class="header-link" href="{{ url_for('views.view_site_visit', siteID = sitevisit.sitevisitID, sortby='desc', view='none' ) }}">
            {{visit_date.strftime("%b %#d, %Y")}}
        </a>
    </h6>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/edit_site_visit.css">

<!-- Delete visit button -->
<div class="delete-visit">
    <a href="{{ url_for('views.delete_site_visit', id = sitevisit.sitevisitID) }}" onclick="return confirm('Are you sure you want to delete this site visit?')"
      class=" btn btn-danger btn-xs" style="float: right; background-color: rgba(194, 5, 5, 0.753) !important;"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Visit</a>
</div>

<!-- Date picker to change site visit date -->
<label for="datepicker" class="col-sm-2 control-label"></label>
<div id="noteOption">
    <div class='input-group date' id='datepicker' style="display: inherit !important;"></div>
        <input type='date' value={{sitevisit.date}} form="editsitevisit" name="date" class="form-control" style="width: 180px; float: left; flex: none !important;" name="dtlPicker">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>

<br>

<div id="body" class="body">

    <!-- Site visit notes -->
    <p class="noteHead"><strong>Site Visit Notes</strong></p>

    <div id="noteOption">
        <!-- keep this code in one line, otherwise extra spacing is displayed -->
        <textarea class="noteOption" type="text" form="editsitevisit" name="notes" placeholder="Add site visit notes..."
        >{% if sitevisit.notes == None or sitevisit.notes == "" %}{{""}}{% else %}{{ sitevisit.notes }}{% endif %}</textarea>
    </div>

    <br>

    {% if photoitems|length > 0 %}
    <!-- Featured (flagged) photos -->
    <p class="photoHeaders"><strong>Featured Photos</strong></p>

        {% if featuredphotos|length == 0 %}
            <a></a>
            <div style="padding: 10px; margin-top: -3%;">
                <table class="table table-striped">
                    <tr>
                        <td scope="row" style="text-align: center;">
                            <a style='text-decoration: none; color:black;' href='#'>
                                <i class="fa fa-exclamation-triangle fa-fw"></i> <strong>Flag</strong> photos to feature them!
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <hr style="margin-top: -2%;">
        
        {% else %}
            {% for photo in featuredphotos %}
                <div style="clear: left;">
                    <!-- Image -->
                    <a href="{{ url_for('views.view_photo_item', photoID = photo.photoID) }}">
                        <p style="float: left; width: 33%; margin-left: 5%; margin-bottom: 5%;">
                            {% set fileString = (photo.filename).split('.jpg') %}
                            <img src="{{ url_for('views.uploaded_file', filename = fileString[0] ~ '_resized.jpg') }}">
                        </p>
                    </a>

                    <!-- Flagging option dropdown menu; onchange command maintains color of dropdown option  -->
                    <div class="dropdown">
                        <!-- Display current flagged status as dropdown default -->
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="num-ft-{{photo.photoID}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text">
                                {% if photo.is_immediate == True %}
                                    <a><i class="fa fa-exclamation-triangle fa-fw" id="immediate"></i> Immediate Attention Required</a>
                                {% elif photo.is_nonimmediate == True %}
                                    <a><i class="fa fa-exclamation-triangle fa-fw" id="pending"></i> Non-immediate / Pending</a>
                                {% elif photo.is_flagged == True %}
                                    <a><i class="fa fa-exclamation-triangle fa-fw" id="flagged"></i> Flagged Item</a>
                                {% else %}
                                    <i>Default = None</i>
                                {% endif %}
                            </span>
                        </button>
                        <!-- Edit flagged status -->
                        <div class="dropdown-menu dropdown-menu-right" style="margin-top: 1%;" aria-labelledby="num-ft-{{photo.photoID}}">
                            <button class="dropdown-item" id="na-ft-{{photo.photoID}}" type="button" onclick="$('#num-ft-{{photo.photoID}}').html(document.getElementById('na-ft-{{photo.photoID}}').innerHTML); document.getElementById('ft-{{photo.photoID}}').value = 'None-ft-{{photo.photoID}}'">
                                <span class="text">
                                    <i class="fa fa-exclamation-triangle fa-fw" id="none" aria-hidden="true"></i> None
                                </span>
                            </button>
                            <button class="dropdown-item" id="im-ft-{{photo.photoID}}" type="button" onclick="$('#num-ft-{{photo.photoID}}').html(document.getElementById('im-ft-{{photo.photoID}}').innerHTML); document.getElementById('ft-{{photo.photoID}}').value = 'is_immediate-ft-{{photo.photoID}}'">
                                <span class="text">
                                    <i class="fa fa-exclamation-triangle fa-fw" id="immediate" aria-hidden="true"></i> Immediate Attention Required
                                </span>
                            </button>
                            <button class="dropdown-item" id="nonim-ft-{{photo.photoID}}" type="button" onclick="$('#num-ft-{{photo.photoID}}').html(document.getElementById('nonim-ft-{{photo.photoID}}').innerHTML); document.getElementById('ft-{{photo.photoID}}').value = 'is_nonimmediate-ft-{{photo.photoID}}'">
                                <span class="text">
                                    <i class="fa fa-exclamation-triangle fa-fw" id="pending" aria-hidden="true"></i> Non-immediate / Pending
                                </span>
                            </button>
                            <button class="dropdown-item" id="flag-ft-{{photo.photoID}}" type="button" onclick="$('#num-ft-{{photo.photoID}}').html(document.getElementById('flag-ft-{{photo.photoID}}').innerHTML); document.getElementById('ft-{{photo.photoID}}').value = 'is_flagged-ft-{{photo.photoID}}'">
                                <span class="text">
                                    <i class="fa fa-exclamation-triangle fa-fw" id="flagged" aria-hidden="true"></i> Flagged Item
                                </span>
                            </button>
                        </div>
                    </div>

                    <!-- Input flagged status for form submission -->
                    <input id="ft-{{photo.photoID}}" type="text" form="editsitevisit" name="action-ft-{{photo.photoID}}" hidden="true"></input>

                    <!-- Edit caption -->
                    <div id="caption">
                        <textarea class="caption" type="text" form="editsitevisit" name="caption-ft-{{photo.photoID}}" placeholder="Add photo caption...">{{photo.comment}}</textarea>
                    </div>

                    <!-- Delete photo button -->
                    <div class="delete-photo">
                        <a href="{{ url_for('views.delete_photo_item', id = photo.photoID, page = 'edit') }}" onclick="return confirm('Are you sure you want to delete this photo item?')"
                        class=" btn btn-danger btn-xs" style="float: right; background-color: rgba(194, 5, 5, 0.753) !important;"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Photo</a>
                    </div>

                    <br>
                </div>
            {% endfor %}
            <hr>
        {% endif %}
    <!-- if no photos for this visit -->
    {% else %}
        <a></a>
    {% endif %}

    <!-- All photos -->
    <p class="photoHeaders"><strong>All Photos</strong></p>

    {% if photoitems | length == 0 %}
        <div style="padding: 10px; margin-top: -3%;">
            <table class="table table-striped">
                <tr>
                    <td scope="row" style="text-align: center;">
                        <a style='text-decoration: none; color:black;' href='#'>
                            There are no photos yet.<br>Go back </strong>and select <i class="fa fa-plus fa-sm fa-fw"></i><strong>Photo</strong> to add one!
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {% elif photoitems|length == featuredphotos|length %}
        <div style="padding: 10px; margin-top: -3%;">
            <table class="table table-striped">
                <tr>
                    <td scope="row" style="text-align: center;">
                        <a style='text-decoration: none; color:black;' href='#'>
                            All photos are <strong>featured</strong> above!
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {% else %} 
        {% for photo in photoitems %}
            <!-- not displaying featured photos again in All Photos -->
            {% if photo not in featuredphotos %}
            <div style="clear: left;">
                <!-- Image -->
                <a href="{{ url_for('views.view_photo_item', photoID = photo.photoID) }}">
                    <p style="float: left; width: 33%; margin-left: 5%;">
                        {% set fileString = (photo.filename).split('.jpg') %}
                        <img src="{{ url_for('views.uploaded_file', filename = fileString[0] ~ '_resized.jpg') }}">
                    </p>
                </a>
                
                <!-- Flagging option dropdown menu; onchange command maintains color of dropdown option  -->
                <div class="dropdown">
                    <!-- Display current flagged status as dropdown default -->
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="num-all-{{photo.photoID}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text">
                            {% if photo.is_immediate == True %}
                                <a><i class="fa fa-exclamation-triangle fa-fw" id="immediate"></i> Immediate Attention Required</a>
                            {% elif photo.is_nonimmediate == True %}
                                <a><i class="fa fa-exclamation-triangle fa-fw" id="pending"></i> Non-immediate / Pending</a>
                            {% elif photo.is_flagged == True %}
                                <a><i class="fa fa-exclamation-triangle fa-fw" id="flagged"></i> Flagged Item</a>
                            {% elif photo.is_immediate == False, photo.is_nonimmediate == False, photo.is_flagged == False %}
                                <i>None</i>
                            {% else %}
                                <i>Default = None</i>
                            {% endif %}
                        </span>
                    </button>
                    <!-- Edit flagged status -->
                    <div class="dropdown-menu dropdown-menu-right" style="margin-top: 1%;" aria-labelledby="num-all-{{photo.photoID}}">
                        <button class="dropdown-item" id="na-all-{{photo.photoID}}" type="button" onclick="$('#num-all-{{photo.photoID}}').html(document.getElementById('na-all-{{photo.photoID}}').innerHTML); document.getElementById('all-{{photo.photoID}}').value = 'None-all-{{photo.photoID}}'">
                            <span class="text">
                                <i class="fa fa-exclamation-triangle fa-fw" id="none" aria-hidden="true"></i> None
                            </span>
                        </button>
                        <button class="dropdown-item" id="im-all-{{photo.photoID}}" type="button" onclick="$('#num-all-{{photo.photoID}}').html(document.getElementById('im-all-{{photo.photoID}}').innerHTML); document.getElementById('all-{{photo.photoID}}').value = 'is_immediate-all-{{photo.photoID}}'">
                            <span class="text">
                                <i class="fa fa-exclamation-triangle fa-fw" id="immediate" aria-hidden="true"></i> Immediate Attention Required
                            </span>
                        </button>
                        <button class="dropdown-item" id="nonim-all-{{photo.photoID}}" type="button" onclick="$('#num-all-{{photo.photoID}}').html(document.getElementById('nonim-all-{{photo.photoID}}').innerHTML); document.getElementById('all-{{photo.photoID}}').value = 'is_nonimmediate-all-{{photo.photoID}}'">
                            <span class="text">
                                <i class="fa fa-exclamation-triangle fa-fw" id="pending" aria-hidden="true"></i> Non-immediate / Pending
                            </span>
                        </button>
                        <button class="dropdown-item" id="flag-all-{{photo.photoID}}" type="button" onclick="$('#num-all-{{photo.photoID}}').html(document.getElementById('flag-all-{{photo.photoID}}').innerHTML); document.getElementById('all-{{photo.photoID}}').value = 'is_flagged-all-{{photo.photoID}}'">
                            <span class="text">
                                <i class="fa fa-exclamation-triangle fa-fw" id="flagged" aria-hidden="true"></i> Flagged Item
                            </span>
                        </button>
                    </div>
                </div>

                <!-- Input flagged status for form submission -->
                <input id="all-{{photo.photoID}}" type="text" form="editsitevisit" name="action-all-{{photo.photoID}}" hidden="true"></input>

                <!-- Edit caption -->
                <div id="caption">
                    <textarea class="caption" type="text" form="editsitevisit" name="caption-all-{{photo.photoID}}" placeholder="Add photo caption...">{{photo.comment}}</textarea>
                </div>

                <!-- Delete photo button -->
                <div class="delete-photo">
                    <a href="{{ url_for('views.delete_photo_item', id = photo.photoID, page = 'edit') }}" onclick="return confirm('Are you sure you want to delete this photo item?')"
                    class=" btn btn-danger btn-xs" style="float: right; background-color: rgba(194, 5, 5, 0.753) !important;"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Photo</a>
                </div>

                <br>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br><br><br>
</div>    

{% endblock content %}

<!-- Cancel button -->
{% block edit %}
<a style="text-decoration: none; color: white;">
    <button type="button" onclick="history.back()" class="editbtn border-0"><i class="fa fa-close fa-sm fa-fw" aria-hidden="true"></i> Cancel</button>
</a>
{% endblock %}

<!-- Save button -->
{% block add %}
<form action="{{ url_for('views.save_site_visit', siteID = sitevisit.sitevisitID) }}" method="POST" id="editsitevisit">
    <input class="addbtn border-0 btn btn-primary" type="submit">
    <button class="addbtn border-0 btn btn-primary" type="submit">
        <i class="fa fa-check fa-sm fa-fw" aria-hidden="true"></i> Save
    </button>
</form>
{% endblock %}
