<!-- uses styling, navbar, and footer from base.html -->
{% extends "base.html" %}

<!-- title & header: client, proj num, site visit date -->
{% block title %}
    {{visit_date.strftime("%b %#d, %Y")}} | Gallery
{% endblock %}

{% block header %}
<div style="text-align: center;">
    <a class="header-link" href="{{ url_for('views.view_projects',  client = client, sortby = 'asc' ) }}">
        <h2 style="margin-bottom: 0em;">
            <!-- display without client prefixes and only 18 characters max -->
            {% for prefix in prefixes %}
                {% if prefix in client %}
                    {% set name = client.replace(prefix, "") %}
                    {% if name|length < 18 %}
                        {{ name }}
                    {% else %}
                        {{ name[:18] + '...' }}
                    {% endif %}
                {% break %}
                {% endif %}
            {% endfor %}
            {% if "Town of " not in client and "City of " not in client and "County of " not in client and "Village of " not in client %}
                {% if client|length < 18 %}
                    {{ client }}
                {% else %}
                    {{ client[:18] + '...' }}
                {% endif %}
            {% endif %}
        </h2>
    </a>
    <h6 style="margin-bottom: -0.2em; margin-top: 0.2em;">
        <a class="header-link" href="{{ url_for('views.view_all_site_visits', projID = projID ) }}">
            {{proj_number}} |
        </a>
        <a class="header-link" href="{{ url_for('views.view_site_visit', siteID = sitevisit.sitevisitID, sortby='desc', view='none' ) }}">
            {{visit_date.strftime("%b %#d, %Y")}}
        </a>
    </h6>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet"  href="/static/view_site_visit_photos.css">

<!-- Tab bar -->
<div>
    <!-- List view (current) -->
    <a class="list" href="{{ url_for('views.view_site_visit', siteID = sitevisit.sitevisitID, sortby = 'desc', view='none')  }}"><i class="fa fa-list fa-2x fa-fw"></i></a>
    <!-- Gallery view -->
    <a class="gallery"><i class="fa fa-th fa-2x fa-fw"></i></a>
    <!-- Map view -->
    <a class="map" href="{{ url_for('views.view_site_visit_map', siteID = sitevisit.sitevisitID)  }}"><i class="fa fa-map-marker fa-2x fa-fw"></i></a>
    <!-- Export feature -->
    <a class="export" href="{{ url_for('views.export_sitevisit', siteID = sitevisit.sitevisitID)  }}"><i class="fa fa-download fa-2x fa-fw"></i></a>
</div>

<hr style="margin-top: 0%; box-shadow: 0 0 3px 2px rgb(180, 180, 180);">

<div>
    <p class="noteHead"><strong>Site Visit Notes</strong></p>
</div>

<div id="body" class="body">
    
    <!-- Site Visit Notes -->
    <div id="noteOption">
        <a class="noteOption" style="width: 97%;">
            {% if sitevisit.notes == None or sitevisit.notes == "" %}
                <i>{{ "None" }}</i>
            {% else %}
                {{ sitevisit.notes }}
            {% endif %}
        </a>
    </div>

    <hr>

    <!-- Featured (flagged) photos -->
    {% if photoitems|length > 0 %}
    <p class="photoHeaders"><strong>Featured Photos</strong></p>

        {% if featuredphotos|length == 0 %}
            <a></a>
            <div style="padding: 10px; margin-top: -3%;">
                <table class="table table-striped">
                    <tr>
                        <td scope="row" style="text-align: center;">
                            <a style='text-decoration: none; color:black;' href='#'>
                                <i class="fa fa-exclamation-triangle fa-fw" style="position: static !important;"></i> <strong>Flag</strong> photos to feature them!
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        {% else %}
            <div class="featuredphotos">
            {% for photo in featuredphotos %}
                <!-- line break after two photos -->
                {% if featuredphotos.index(photo) != 0 and featuredphotos.index(photo) % 2 == 0 %}
                    <br>
                {% endif %}
                <!-- action icon -->
                {% if photo.is_immediate == True %}
                    <i class="fa fa-exclamation-triangle fa-2x" id="immediate"> </i>
                {% elif photo.is_nonimmediate == True %}
                    <i class="fa fa-exclamation-triangle fa-2x" id="pending"> </i>
                {% elif photo.is_flagged == True %}
                    <i class="fa fa-exclamation-triangle fa-2x" id="flagged"> </i>
                {% endif %}
                <!-- image -->
                <a style="text-decoration: none; color: white;" href="{{ url_for('views.view_photo_item', photoID = photo.photoID) }}">
                    {% set fileString = (photo.filename).split('.jpg') %}
                    <img class="img-ft" src="{{ url_for('views.uploaded_file', filename = fileString[0] ~ '_resized.jpg') }}">
                </a>
            {% endfor %}
            </div>
        
        {% endif %}
    {% endif %}
   
    {% if photoitems|length > 0 and featuredphotos|length == 0 %}
        <hr style="margin-top: -2%;">
    {% elif photoitems|length == 0 and featuredphotos|length == 0 %}
        <a></a>
    {% else %}    
        <hr>
    {% endif %}

    <!-- All photos -->
    <p class="photoHeaders"><strong>All Photos</strong></p>

    {% if photoitems | length == 0 %}
        <div style="padding: 10px;">
            <table class="table table-striped">
                <tr>
                    <td scope="row" style="text-align: center;">
                        <a style='text-decoration: none; color:black;' href='#'>
                            There are no photos yet.<br>Select <i class="fa fa-plus fa-sm fa-fw"></i><strong>Photo</strong> to add one!
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {% else %}
        <div class="allphotos">
        {% for photo in photoitems %}
            <!-- image -->
            <a style="text-decoration: none; color:white;" href="{{ url_for('views.view_photo_item', photoID = photo.photoID) }}">
                {% set fileString = (photo.filename).split('.jpg') %}
                <img class="img-all" src="{{ url_for('views.uploaded_file', filename = fileString[0] ~ '_resized.jpg') }}">
            </a>    
        {% endfor %}
        </div>

    {% endif %}
    <br><br><br>
</div>

<!-- JavaScript for retrieving orientation if photo taken -->
<script>
    const isIOS = 
        navigator.userAgent.match(/(iPod|iPhone|iPad)/) &&
        navigator.userAgent.match(/AppleWebKit/);

    function init() {
        if (!isIOS) {
            window.addEventListener("deviceorientationabsolute", handler, true);
        }
    }

    // called when + photo or upload photo is selected
    function startCompass() {
        if (isIOS) {
            DeviceOrientationEvent.requestPermission()
            .then((response) => {
                if (response === "granted") {
                window.addEventListener("deviceorientation", handler, true);
                } else {
                alert("has to be allowed!");
                }
            })
            .catch(() => alert("not supported"));
        }
    }

    function handler(e) {
        compass = e.webkitCompassHeading || Math.abs(e.alpha - 360);
        var degreeVal = document.getElementById("orientation");
        degreeVal.value = compass;
    }

    window.onload = init();
</script>

{% endblock content %}

<!-- edit site visit -->
{% block edit %}
<a href="{{ url_for('views.edit_site_visit', siteID = sitevisit.sitevisitID ) }}" style="text-decoration: none; color: white;">
    <button type="button" class="editbtn border-0"><i class="fa fa-pencil-square-o fa-sm fa-fw" aria-hidden="true"></i> Visit</button>
</a>
{% endblock %}

<!-- create new photo item for current site visit -->
{% block add %}
<form method=post enctype=multipart/form-data>
    <label onclick="startCompass()" class="addbtn border-0 btn btn-primary"><i class="fa fa-plus fa-sm fa-fw"></i> Photo
        <input class="addphotofile" accept="image/*" type=file 
        onchange="this.form.submit()" name=file style="display: none;"><br><br>
        <input type="text" id="orientation" name="orientation" hidden='true'>
    </label>
</form>
{% endblock %}    